@page
@model CoreDemo.Pages.WiproModel
@{
    ViewData["company"] = "Wipro";
    ViewData["Name"] = "Kethavi";

}
<p>Company name is : <b>@ViewData["company"] </b></p>
<p> name is : <b>@ViewData["Name"] </b></p>
